# Example env variables for db
DATABASE_URL=postgres://db-example-user:db-example-pass@db:5432/actualisation
POSTGRES_DB=actualisation
POSTGRES_USER=db-example-user
POSTGRES_PASSWORD=db-example-pass

# Example env variables for back
CLIENT_OAUTH_ID=HEY_you_need_an_id
CLIENT_OAUTH_SECRET=HEY_you_need_a_secret
API_HOST=https://api.emploi-store.fr
TOKEN_HOST=https://authentification-candidat.pole-emploi.fr
APP_HOST=http://zen.pole-emploi.fr
COOKIE_SECRET=Pom pom pilom
AUTH_REDIRECT_URI=http://localhost:8080/login/callback
SENTRY_ENV=development
SENTRY_URL=https://placeholder-url-for-sentry.com
EMAIL_KEY=key
EMAIL_KEY_SECRET=secret
SLACK_WEBHOOK_SU_ZEN=https://hooks.slack.com/………………
SLACK_WEBHOOK_SU_ZEN_TECH=https://hooks.slack.com/………………
SEND_CAMPAIGN_EMAILS=true
SEND_TRANSACTIONAL_EMAILS=true
AUTHORIZE_ALL_USERS=false # Bypass user validation requirements (for dev/qa/tests)
BUNDLE_ANALYZER_TOKEN=token # Note : This is not to be set manually on .env, but is done by circleci for builds.
WINSTON_ENABLE_SLACK=false
WINSTON_ENABLE_LOG=true
WINSTON_ENABLE_FILE=false

