html {
  font-size: 62.5%;
  /* 62.5% of 16px = 10px */
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  /* override material-ui baseline default background */
  background-color: #fff !important;
}
#gtm-frame {
  display: none;
  visibility: hidden;
}

/*
  Make tooltip only visible when label is focused
  (Too difficult to do it with material-ui)
*/
.MuiFormControl-root .MuiInputLabel-root img {
  display: none;
}
.MuiFormControl-root .MuiInputLabel-root.Mui-focused img {
  display: inline;
}
